*.xcframework filter=lfs diff=lfs merge=lfs -text
App filter=lfs diff=lfs merge=lfs -text
Flutter filter=lfs diff=lfs merge=lfs -text
path_provider filter=lfs diff=lfs merge=lfs -text
FlutterPluginRegistrant filter=lfs diff=lfs merge=lfs -text
